<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
	<div class="form-group text-center">
		<%= label_tag "Send to" %>
		<%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name), class: "form-control input-lg" %>
	</div>

	<div>
		<%= text_field_tag :subject, nil, placeholder: "Subject", class: "form-control input-lg" %>
	</div>

	<div>
		<%= text_area_tag :body, nil, placeholder: "Leave a comment", class: "form-control input-lg" %>
	</div>

	<%= submit_tag "Send", class: "btn btn-primary input-lg btn-block" %>
<% end %>