<h1>All notifications</h1>
<table class="table table-striped">
	<% if @notifications.any? %>
		<thead>
			<tr>
				<th class="center">Notified by</th>
				<th class="center">Notified to</th>
				<th class="center">Action</th>
				<th class="center">Gig Name / Proposal Name / Chat Name</th>
			</tr>
		</thead>
	<% end %>
	<% @notifications.each do |notification| %>
		<tr>
			<td class="center"><%= link_to notification.actor.name, user_path(notification.actor) %></td>
			<td class="center"><%= link_to notification.receiver.name, user_path(notification.receiver) %></td>
			<td class="center"><%= notification.action %></td>
			<td class="center">
				<% if notification.action == "awarded" %>
					<%= link_to notification.notifiable.name, gig_path(notification.notifiable) %><b> | </b>
					<%= link_to "Show this proposal to upload solutions", proposal_path(id: notification.notifiable.awarded_proposal) %>
				<% elsif notification.action == 'proposed' %>
					<%= link_to notification.notifiable.name, proposal_path(notification.notifiable) %><b> | </b>
					<%= link_to "Show this gig to award this project", gig_path(notification.notifiable.gig) %>
				<% elsif notification.action == 'started a conversation' || notification.action == 'sent a message' %>
					<%= link_to notification.notifiable.conversation.subject, user_conversation_path(id: notification.notifiable.conversation.id) %>
				<% end %>
			</td>
			<td>
				<% if !notification.is_read? %>
					<%= link_to 'Mark as read', mark_as_read_user_notification_path(id: notification.id), class: 'btn btn-xs btn-info', method: :post %>
				<% else %>
					<p class="label label-success">This notification has been read</p>
				<% end %>
			</td>
			<td><%= link_to "Delete this notification", user_notification_path(id: notification.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
		</tr>
	<% end %>
</table>