<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name %><span class="required">*</span>
  <%= f.text_field :name, autofocus: true, class: 'form-control' %>

  <%= f.label :email %><span class="required">*</span>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %><span class="required">*</span>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %><span class="required">*</span>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.label :education %><span class="required">**</span>
  <%= f.text_field :education, class: 'form-control' %>

  <%= f.label :experience %><span class="required">**</span>
  <%= f.number_field :experience, class: 'form-control' %>

  <%= f.label :industry %><span class="required">*</span>
  <%= f.text_field :industry, class: 'form-control' %>

  <%= f.label :profile_picture, "Upload Profile Picture" %><span class="required">*</span>
  <%= f.file_field :profile_picture, class: 'form-control' %>

  <% unless @user.admin %>
    <%= f.label :role %><span class="required">*</span>
    <%= f.select :role, options_for_select(["Client", "Freelancer"]), class: 'form-control' %>
  <% end %>  
  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
<% end %>
<small><span class="required">*</span> is for required fields.</small><br />
<small><span class="required">**</span> required only for freelancers.</small>