<div class="container">
	<h3 class="sub-heading">My Proposals<small class="pull-right"><%= @proposals.count %> total</small></h3>
	<% if current_user.proposals.any? %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Gig Name</th>
					<th>Status</th>
					<th>Category</th>
					<th>Bid</th>
					<th>Gig Owner</th>
				</tr>
			</thead>
			<tbody>
				<% @proposals.each do |proposal| %>
					<tr>
						<td><%= link_to proposal.gig.name, proposal.gig %></td>
					  <td>
						 	<% if proposal.gig.awarded_proposal %>
						 		<p class="label label-success">Awarded to you.</p>
						 	<% elsif !proposal.gig.open %>
						 		<p class="label label-danger">This gig is awarded to somebody else.</p>
						 	<% elsif proposal.gig.open && !proposal.gig.awarded_proposal %>
						 		<p class="label label-default">Not yet awarded to anybody</p>
						 	<% end %>
					  </td>
					  <td><%= proposal.gig.category.name %></td>
					  <td><%= number_to_currency(proposal.bid, precision: 0) %></td>
					  <td><%= link_to proposal.gig.user.name, user_path(proposal.gig.user) %></td>
					  <td><%= link_to "View this proposal(Upload your solution here)", proposal_path(proposal) if proposal.id == proposal.gig.awarded_proposal %></td>
					  <td><%= link_to "Delete this proposal", proposal_path(proposal), method: :delete, data: {confirm: "Are you sure?"} %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>