<div class = "container">
	<div class = "row">
		<div class = "col-xs-12 col-md-12">
			<h3 class = "sub-heading">Post a gig</h3>
			<div class = "content-inner-detail">
				<%= form_for @gig do |f| %>
					<div class = "row">
						<div class = "col-xs-12 col-md-6">
							<div class = "form-group">
								<%= f.label :name %><span class="required">*</span>
								<%= f.text_field :name, class: "form-control input-lg" %>
							</div>
						</div>

						<div class = "col-xs-12 col-md-6">
							<div class = "form-group">
								<%= f.label :budget %><span class="required">*</span>
								<%= f.text_field :budget, class: "form-control input-lg" %>
								<small class = "help-block">ex: $1,000</small>
							</div>
						</div>

						<div class = "col-xs-12 col-md-6">
							<div class = "form-group">
								<%= f.label :category_id %>
								<%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name),{}, class: "form-control input-lg" %>
								<small class = "help-block">Enter the category you want for this gig.</small>
							</div>
						</div>

						<div class = "col-xs-12 col-md-6">
							<div class = "form-group">
								<%= f.label :location %><span class="required">*</span>
								<%= f.text_field :location, class: "form-control input-lg" %>
								<small class = "help-block">[New Delhi, Mumbai, etc.]</small>
							</div>
						</div>

						<div class = "col-xs-12 col-md-6">
							<div class = "form-group">
								<%= f.label :description %><span class="required">*</span>
								<%= f.text_area :description, class: "form-control input-lg" %>
								<small class = "help-block">Tell us everything about your gig [website, virtual assistant, etc.]</small>
							</div>
						</div>
					</div>

					<legend>List skills required for this gig.<span class="required">*</span></legend>
					<div class="form-group">
						<%= f.text_area :skill_list, rows: 3, class: "form-control" %>
						<small class = "help-block">Separate skills with a comma.</small>
					</div>
					<br>
					<%= f.submit "Post this gig", class: "btn btn-primary" %>
				<% end %>
				<small><span class="required">*</span> is for required fields.</small>
			</div>
		</div>
	</div>
</div>