<div class = "container">
	<div id="search-box" class="row">
		<%= form_tag search_gigs_path, method: :get do |f| %>
		  <%= text_field_tag :search, params[:search], placeholder: "Search by name, location, description etc.", class: "col-md-9" %>
		  <%= submit_tag "Search", class: "col-md-3 btn btn-primary" %>
		<% end %>
	</div>
	<div class = "row">
		<section class = "col-xs-12 col-md-3">
			<h3 class = "sub-heading">Advance Search</h3>
			<%= form_tag search_gigs_path, method: :get do |f| %>
				<div class="form-group">
					<%= label_tag :category %>
			  	<%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name, @prev_state), class: "form-control input-lg" %>
			  </div>
			  <%= submit_tag "Search", class: "btn btn-primary input-lg btn-block" %>
			  <%= link_to "View All", gigs_path, class: "btn btn-primary btn-block" %>
			<% end %>

		</section>
		<section class = "col-xs-12 col-md-9">
			<h3 class = "sub-heading">Gigs
				<span class = "pull-right">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
							Sort by
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><%= link_to "Oldest", gigs_path(sort_by: "oldest") %></li>
							<li><%= link_to "Newest", gigs_path(sort_by: "newest") %></li>
							<li><%= link_to "Name", gigs_path(sort_by: "name") %></li>
						</ul>
					</div>
				</span>
				<small class="pull-left btn btn-success"><%= @gigs.count %> results</small>
			</h3>
			<table class = "table table-striped">
				<tbody>
					<% if @gigs.exists? %>
						<% @gigs.each do |gig| %>
							<tr>
								<td>
									<p>
										<%= link_to gig.name, gig_path(gig) %><small class="label label-success"><%= number_to_currency(gig.budget, precision: 0) %></small>
									</p>
									<p><%= h truncate(gig.description, length: 500) %></p>
									<p>Skills: <%= gig.skills.map { |s| s.name }.join(", ") %></p>
								</td>
								<td><%= gig.category.name if gig.category.present? %></td>
								<td class = "job-location">
									<p><i class = "glyphicon glyphicon-calendar"></i><%= gig.created_at.strftime("%b %d, %Y") %></p>
									<p><i class = "glyphicon glyphicon-map-marker"></i><%= gig.location %></p>
								</td>
								<% if logged_in? && (current_user.admin? || gig.user == current_user) %>
									<td><%= link_to "Edit this gig", edit_gig_path(gig) %></td>
									<td><%= link_to "Delete this gig", gig_path(gig), method: :delete, data: {confirm: "Are you sure?"} unless gig.awarded_proposal? %></td>
								<% end %>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</section>
	</div>
</div>
<%= will_paginate(@gigs) %>