<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "freelancing app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "View posted gigs", gigs_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
            <% if current_user.role == "Client" %>
              <li><%= link_to "Post a gig &rarr;".html_safe, new_gig_path %></li>
              <li><%= link_to "My Gigs", mygigs_path %></li>
            <% elsif current_user.role == "Freelancer" %>
              <li><%= link_to "My Proposals", myproposals_path %></li>
            <% end %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <li class="dropdown", data-behaviour="notifications">
            <a class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false">
              <span class="glyphicon glyphicon-bell"></span>
              <span class="badge", data-behaviour="unread-count"></span>
              <span class="caret">
            </a>
            <ul id="notifications", class="dropdown-menu", data-behaviour="notifications-items">
              <li class="dropdown-header text-uppercase">Notifications</li>
              <% if current_user.notifications.unread.empty? %>
                <li class="container-fluid">
                  <p class="text-center small">No new notifications</p>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up now", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>